<div class="container" style="margin-top: 10px">

  <h1> Available users </h1>
  <br>
  <p>
    <strong>Student name: </strong>
    <%= @student.student_name %>
  </p>

  <p>
    <strong>Student ID: </strong>
    <%= @student.id %>
  </p>

  <p>
    <strong>Number of Tardiness: </strong>
    <%= "Feature coming soon" %>
  </p>
  
  <br>
  <br>
</div>

